[Unit]
Description=OSP exporter
After=network.target

[Service]
ExecStart={{ osp_exporter_path }}/main.py --config-file {{ osp_exporter_path }}/env_{{ portnum }}.yaml

[Install]
WantedBy=default.target
