TypesDB "/usr/share/collectd/types.db"
TypesDB "/usr/share/collectd/types.db.custom"

Interval {{ collectd_interval }}

LoadPlugin "logfile"
<Plugin "logfile">
  LogLevel "info"
  File "/var/log/collectd.log"
  Timestamp true
</Plugin>


LoadPlugin syslog
LoadPlugin cpu
LoadPlugin df
LoadPlugin disk
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin uptime
LoadPlugin ceph
LoadPlugin exec
Include "/etc/collectd.d"

<Plugin cpu>
  ReportByState true
  ReportByCpu true
  ValuesPercentage true
</Plugin>

<LoadPlugin "network">
   FlushInterval 5
</LoadPlugin>

<Plugin "df">
#IgnoreSelected true
ValuesPercentage true
reportInodes true
</Plugin>

{% if 'ceph-osd' in group_names | join(" ") %}
<Plugin "exec">
Exec  "nobody" "/usr/share/collectd/exec/nfvi-services.sh"
</Plugin>
{% endif %}
LoadPlugin network
<Plugin network>
Server "{{ groups["collectd_exporters"][0] }}" "{{ item }}"
</Plugin>
<Plugin network>
Server "{{ groups["collectd_exporters"][1] }}" "{{ item }}"
</Plugin>

