# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
    {% for r in groups["alert_managers"] %}
       - {{ hostvars[r].inventory_hostname }}:{{ alert_manager_port }}
    {% endfor %}

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
{% for r in groups["prometheus"] %}
  {% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] == groups["prometheus"][r] %}
    - targets: ['{{ groups["collectd_exporters"][r] }}:{{ collectd_exporter_http_port }}']
  {% endif %}
{% endfor %}
