{{ ansible_managed | comment }}

groups:
 - name: InstanceDown
   interval: {{ instance_down_interval }}
   rules:
   # Alert for any instance that is unreachable for >{{ instance_down_for_time }}.
   - alert: InstanceDown
     expr: up == 0
     for: {{ instance_down_for_time }}
     labels:
       severity: page
     annotations:
       summary: "Instance {% raw %}{{ $labels.instance }}{% endraw %} down"
       description: "{% raw %}{{ $labels.instance }} of job {{ $labels.job }}{% endraw %} has been down for more than {{ instance_down_for_time }}."

 - name: System_reboot_alert
   interval: {{ nfvi_services_interval }}
   rules:
   - alert: System Rebooted
     expr: collectd_uptime{job="collectd"}<{{ system_rebooted_interval }}
#    for: {{ system_rebooted_for_time }}
     labels:
       severity: critical
     annotations:
       summary: "{% raw %}{{ $labels.instance }}{% endraw %} rebooted"
       description: "{% raw %}{{ $labels.instance }}{% endraw %} rebooted."
