# my global config
global:
  scrape_interval: "{{ prometheus_global_srape_interval }}"
  evaluation_interval: "{{ prometheus_global_srape_timeout }}"

  external_labels: 
    exporter_node: prometheus-{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}

# Alertmanager configuration
alerting:
  
  alert_relabel_configs:
  - source_labels: [exporter_node]
    regex: (prometheus).+
    target_label: exporter_node

  alertmanagers:
  - static_configs:
    - targets:
    {% for r in groups["alert_managers"] %}
       - {{ hostvars[r].inventory_hostname }}:{{ alert_manager_port }}
    {% endfor %}

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
   - "prometheus_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  # 
  # Collectd Exporters
  - job_name: 'collectd'
    honor_labels: true
    scape_interval "{{ prometheus_collectd_exporter_srape_timeout }}"
#    relabel_configs:
#      - source_labels: [exported_instance]
#        target_label: instance
#
#      - source_labels: [__address__]
#        target_label: exported_instance

    metric_relabel_configs:
      - source_labels: [type]
        target_label: service

      - regex: 'type'
        action: labeldrop

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
{% for i in groups["prometheus"] %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] == groups["prometheus"][loop.index - 1] %}
{% for j in groups["collectd_exporters"] %}
      - targets: ['{{ groups["collectd_exporters"][loop.index - 1] }}:{{ collectd_exporter_http_port }}']
{% endfor %}
{% endif %}
{% endfor %}
  - job_name: 'openstack'
    honor_labels: true
    metric_relabel_configs:
    - source_labels: [url]
      target_label: instance
      regex: https?://(.+):.+
      replacement: $1

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
{% for i in groups["prometheus"] %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] == groups["prometheus"][loop.index - 1] %}
{% for j in groups["osp_exporters"] %}
      - targets: ['{{ groups["osp_exporters"][loop.index - 1] }}:{{ osp_exporter_http_port }}']
{% endfor %}
{% endif %}
{% endfor %}
